<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="752" height="700" id="imgSlideshow" >
<param name="allowScriptAccess" value="sameDomain" />
<param name="movie" value="/ak47/flash/imgSlideshow.swf" />
<param name="loop" value="false" />
<param name="menu" value="false" />
<param name="quality" value="high" />
<param name="bgcolor" value="#FFFFFF" />
<param name="FlashVars" value="imgPath=/ak47/<$MTBlogName$>/images/&amp;imgxml=http://brea.kfa.st/ak47/flash/getimages.php?categoryID=<MTCategoryOfArchive><MTCategoryID></MTCategoryOfArchive>">
<embed src="/ak47/flash/imgSlideshow.swf" loop="false" menu="false" quality="high" bgcolor="#FFFFFF" width="752" height="700" name="imgSlideshow" allowScriptAccess="sameDomain" 
FlashVars="imgPath=/ak47/<$MTBlogName$>/images/&amp;imgxml=http://brea.kfa.st/ak47/flash/getimages.php?categoryID=<MTCategoryOfArchive><MTCategoryID></MTCategoryOfArchive>"
type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
</object>
