<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="430" height="325" id="imgFadeIn" align="middle">
<param name="allowScriptAccess" value="sameDomain" />
<param name="movie" value="/ak47/flash/imgFadeIn.swf" />
<param name="quality" value="high" />
<param name="bgcolor" value="#D4CE6B" />
<param name="FlashVars" value="imgUrl=http://brea.kfa.st/ak47/<$MTBlogName$>/graphics/<$MTBlogName$>.jpg" />
<embed src="/ak47/flash/imgFadeIn.swf" quality="high" bgcolor="#D4CE6B" width="430" height="325" FlashVars="imgUrl=http://brea.kfa.st/ak47/<$MTBlogName$>/graphics/<$MTBlogName$>.jpg" name="imgFadeIn" align="middle" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
</object>