body {
  margin:0px;
  padding:0px;
  padding-bottom:25px;
  background: #674A47 url(/003/graphics/back.gif) bottom left fixed repeat-x;
  font: 11px Verdana, Arial, Helvetica, sans-serif;
  text-align:center;
  line-height:1.6em;
  border-top: 10px solid #101427;
  scrollbar-base-color: #F7EDEE;
}

img {
  padding:0px;
  margin:0px;
  border:0px;
}

a {
  color:#493432;
  text-decoration:underline;
}

a:hover {
  color: #F7EDEE;
  background: #493432;
}

h1 {
  font-size:14px;
  font-weight: bold;
}

h2 {
  font-size: 11px;
  font-weight: bold;
}

input {
  background-color: #F7EDEE;
}

#top {
  background-color: #D4CE6B;
  color: #F7EDEE;
  border: 1px solid #493432;
}

#leftContent {
  background-color: #F7EDEE;
  border: 1px solid #493432;
  border-bottom: 20px solid #493432;
}

#rightContent {
  background-color: #F7EDEE;
  border: 1px solid #493432;
  border-bottom: 20px solid #493432;
}

#copyright {
  color: #D4CE6B;
}

#menu {
  color: white;
}

#menu a {
  color: white;
  text-decoration:underline;
}

#menu a:hover {
  color: #493432;
  background: white;
}

#coverPhotoCredit {
  color:#D4CE6B;
}

#coverPhotoCredit a {
  color: #D4CE6B;
}

