<$MTInclude module="setIssue"$>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<MTSQLCategories query="select category_id from
mt_category where category_label = '[MTEntryCategory]'">
<title><$MTInclude module="issueName"$> - <$MTCategoryDescription$> : <$MTEntryCategory$> Details</title>
</MTSQLCategories>


<link rel="stylesheet" type="text/css" media="all" href="/ak47/<$MTBlogName$>/details.css" /> 
<style type="text/css" media="screen">@import "/ak47/<$MTBlogName$>/details.css"</style>

<$MTInclude module="metaData"$>

</head>

<body>


<div id="container">

<div id="top">

<a href="<$MTBlogURL$>" title="Home"><img src="/ak47/<$MTBlogName$>/graphics/ak47.gif" alt="Ak47 Logo" title="<$MTInclude module="issueName"$>" /></a>

</div> <!-- top -->

<div id="leftContent">

   <h2><$MTEntryCategory$> (<a class="normal" href="<$MTBlogURL$><$MTEntryCategory dirify="1"$>" title="View <$MTEntryCategory$>">View</a>)</h2>
  <$MTEntryBody$>

  <p>
       <h2>Showcase</h2>
       <a href="<$MTBlogURL$><$MTEntryCategory dirify="1"$>" title="View <$MTEntryCategory$>">View <$MTEntryCategory$></a>
  </p>

</div> <!-- leftcontent -->

<div id="rightContent">

 <MTSQLCategories query="select category_id from
mt_category where category_label = '[MTEntryCategory]'">
   <h2>About <$MTCategoryDescription$></h2>
 </MTSQLCategories>

  <$MTEntryMore$>

  <p>
     <h2>Contact</h2>
     <$MTEntryExcerpt$>
  </p>

</div> <!-- rightcontent -->

<div id="menu">
  <$MTInclude module="menu"$>
</div>

<div id="copyright">
  <$MTInclude module="copyright"$>
</div>


</div> <!-- container -->

</body>
</html>
