body {
  margin:0px;
  padding:0px;
  padding-bottom:25px;
  background: #374128 url(/ak47/006/graphics/back.gif) bottom left fixed repeat-x;
  font: 11px Verdana, Arial, Helvetica, sans-serif;
  text-align:center;
  line-height:1.6em;
  border-top: 10px solid #101427;
}

img {
  padding:0px;
  margin:0px;
  border:0px;
}

a {
  color:#FF75AF;
  text-decoration:none;
}

a:hover {
  color: #FFFFFF;
  background: #FF75AF;
}

h1 {
  display:inline;
  padding:0px;
  margin:0px;
  font-size: 11px;
  font-weight:bold;
}

#container {
  position:relative;
  width:752px;
  height:700px;
  margin:0px;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  text-align:left;
  border-top: 20px solid #13170E;
  border-bottom: 20px solid #13170E;
  border-left: 1px solid #13170E;
  border-right: 1px solid #13170E;
  background-color: white;
}

#slideshow {
  position:absolute;
  top:0px;
  left:0px;
}

#copyright {
  position:absolute;
  bottom:-40px;
  right: 0px;
  color: #FF75AF;
}


#menu {
  position:absolute;
  top:701px;
  left: 6px;
  color: white;
  font-weight:700;
}

#details {
  position:absolute;
  top:-18px;
  left: 8px;
  color: white;
  font-weight:700;
}


#menu a {
  color: white;
  text-decoration:underline;
}

#menu a:hover {
  color: #13170E;
  background: white;
}


#details a {
  color: white;
  text-decoration:underline;
}

#details a:hover {
  color: #13170E;
  background: white;
}

