body {
  margin:0px;
  padding:0px;
  padding-bottom:25px;
  background: #FAFAFA url(/ak47/004/graphics/back.gif) bottom left fixed repeat-x;
  font: 11px Verdana, Arial, Helvetica, sans-serif;
  text-align:center;
  line-height:1.6em;
  border-top: 10px solid #101427;
  scrollbar-base-color: #F8F8F8;
}

img {
  padding:0px;
  margin:0px;
  border:0px;
}

a {
  color:#7B7B7B;
  text-decoration:underline;
}

a:hover {
  color: #F8F8F8;
  background: #7B7B7B;
}

h1 {
  font-size:14px;
  font-weight: bold;
}

h2 {
  font-size: 11px;
  font-weight: bold;
}

#container {
  position:relative;
  width:752px;
  height:762px;
  margin:0px;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  text-align:center;
}

#top {
  position:absolute;
  top:0px;
  left:0px;
  background-image: url(/ak47/004/graphics/004_thin.jpg);
  background-position:  top right;
  background-repeat: no-repeat;
  width:752px;
  height:100px;
  text-align:left;
  background-color: #0C0C0C;
  color: #F7EDEE;
  border: 1px solid #D5D5D5;
}


#leftContent {
  position:absolute;
  top:110px;
  left:0px;
  width: 301px;
  height: 605px;
  padding:10px;
  padding-top:0px;
  text-align:left;
  overflow:auto;
  background-color: #F8F8F8;
  border: 1px solid #D5D5D5;
  border-bottom: 20px solid #D5D5D5;
}

#rightContent {
  position:absolute;
  top:110px;
  left:323px;
  width: 410px;
  height: 605px;
  padding:10px;
  padding-top:0px;
  text-align:left;
  overflow:auto;
  background-color: #F8F8F8;
  border: 1px solid #D5D5D5;
  border-bottom: 20px solid #D5D5D5;
}


#copyright {
  position:absolute;
  bottom:0px;
  right: 0px;
  text-align:right;
  color: #0C0C0C;
}


#menu {
  position:absolute;
  top:727px;
  left: 6px;
  font-weight:700;
  color: #7B7B7B;
}

#menu a {
  color: #7B7B7B;
  text-decoration:underline;
}

#menu a:hover {
  color: #D5D5D5;
  background: #7B7B7B;
}


.normal {
  font-weight: normal;
}