<h2>Books I have Read</h2>

<ul>
<li>Design Patterns in Ruby
</li><li>101 Design Ingredients to Solve Big Tech Problems
</li><li>Async Javascript (PragProg)
</li><li>Coffeescript (PragProg)
</li><li>iOS Recipes (PragProg)
</li><li>iPhone SDK Development (PragProg)
</li><li>Web Design for Developers (PragProg)
</li><li>Stumbling on Happiness (Daniel Gilbert)
</li><li>The Design of Everyday Things (Donald A Norman)
</li><li>Building iPhone Apps with HTML, CSS and JS (O'Reilly)
</li><li>Design into HTML5 (Mark Pilgrim)
</li><li>Getting Real (37 Signals)
</li><li>HTML5 for Web Designers (Jeremy Keith)
</li><li>Interface Oriented Design (Ken Pugh)
</li><li>Agile Web Development with Rails, 2nd ed (and 1st)
</li><li>Beginning Ruby on Rails - from novice to professional (Apress 2007)
</li><li>Pragmatic Version Control with Subversion (2nd Edition, Pragmatic 2006)
</li><li>Programming Ruby (PickAxe) Ver 2
</li><li>Prototype and script.aculo.us
</li><li>Rails Recipes
</li><li>RJS Templates for Rails (oreilly, 2006)
</li><li>Ruby for Rails
</li><li>AJAX on Rails
</li><li>Web Application Solutions - A Designer's Guide
</li><li>Pragmatic Programmers Ship It! A Practical Guide to Successful Software Projects
</li><li>Pragmatic Programmers Release It!
</li><li>Software Project Secrets Why Software Projects Fail (Apress 2005)
</li><li>Google Maps Applications with Rails and AJAX
</li></ul>

